.modalzinha{
    font-weight: bold;
}
.azul-nexus {
    /* fallback for old browsers */
    background: #003554;
}
.azul-claro{
    background: #006494;
}
.gradiente-nexus{
    /* fallback for old browsers */
    background: #003554;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top, #003554, #003554, #006494);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, #003554, #003554, #006494);
}
.fechar{
    color:white;
}