.modalzinha {
  font-weight: bold;
}
.azul-nexus {
  background: #003554;
}
.azul-claro {
  background: #006494;
}
.gradiente-nexus {
  background: #003554;

  background: -webkit-linear-gradient(to top, #003554, #003554, #006494);

  background: linear-gradient(to top, #003554, #003554, #006494);
}
.fechar {
  color: white;
}

body {
  transition: all 1s ease;
}

/* .opc-blur {
  -webkit-filter: blur(10px);
  opacity: 0.9;
  background-color: yellow;
} */

.table td.fit,
.table th.fit{
  white-space: nowarp;
  width: 1%;
}